
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Data</title>
</head>
<body>
    <h1>Text Data</h1>
    <p>Wolahh! your text file extracted <b> {{ formData['name'] }}</b></p>
    <p>Request  was submmited at <b>{{formData['Current time']}}</b></p>
    <p>Request was done to return text at <b>{{formData['Submission time']}}</b> time</p>
    <p><b>Extracted Text :</b> <br>{{formData['text']}}
    </p>
    
   
</body>
</html>
